# Node dependencies
node_modules/

# Sass cache
*.css.map

# Ignore everything in dist
dist/

# OS / Editor junk
.DS_Store
Thumbs.db
*.log
*.tmp

# PHP specific (session files, cache, etc.)
*.bak
*.swp

# Ignore IDE folders
.vscode/
.idea/

# Composer/Vendor
vendor/

# Config
config.php
