// Color Variables
$color-accent: #f2a354;
$color-link: #45c0c4;

$color-purple-10: #110f15;
$color-purple-9:  #1f1922;
$color-purple-8:  #241f29;
$color-purple-7:  #382e42;
$color-purple-6:  #4d4059;
$color-purple-5:  #736383;
$color-purple-4:  #998da5;
$color-purple-3:  #cfc1dd;
$color-purple-2:  #eae5ef;
$color-purple-1:  #f7f5fa;

// Font Variables
$font-heading: 'Gabarito', sans-serif;
$font-body: 'Manrope', sans-serif;

// Misc Property Variables
$transition-all-01: all 0.1s ease-in-out;
$transition-all-03: all 0.3s ease-in-out;

// Spacing Variables
$max-width: 1600px;
$content-padding: 2% 4%;

// Breakpoints
$breakpoint-mobile: 550px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1100px;
$breakpoint-desktop-large: 1700px;


// Mixins
@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

