@use '../base/variables' as *;
@use "../base/mixins" as *;

.main-index {
    padding-top: 0;
    margin-top: 0;
}

.under-construction {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    background: linear-gradient(to top, var(--bg-navbar), transparent);
    margin: 0 4%;
    align-self: center;

    border-right: 3px solid var(--bg-navbar);
    border-left: 3px solid var(--bg-navbar);
    border-bottom: 3px solid var(--bg-navbar);
    border-radius: 0 0 16px 16px;

    @media (max-width: $breakpoint-mobile) {
        padding: 1rem 0.5rem 0.5rem;
        border: 3px solid var(--bg-navbar);
        border-radius: 8px;
        margin-top: 2rem;
    }

    &__icon {
        color: $color-purple-5;
        width: 64px;
        height: 64px;

        @media (max-width: $breakpoint-tablet) {
            width: 48px;
            height: 48px;
        }

        @media (max-width: $breakpoint-mobile) {
            display: none;
        }
    }


    &__text-container {
        display: flex;
        flex-direction: column;

        @media (max-width: $breakpoint-mobile) {
            text-align: center;
        }
    }

    &__title {
        font-size: 2rem;
        font-family: $font-heading;
        color: var(--text-heading);

        @media (max-width: $breakpoint-tablet) {
            font-size: 1.6rem;
        }

        @media (max-width: $breakpoint-mobile) {
            font-size: 1.4rem;
            margin-bottom: 0.4rem;

            &::before {
                content: "🛠️ "
            }
        }
    }

    &__body {
        @media (max-width: $breakpoint-tablet) {
            font-size: 1rem;
        }
    }
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    @include content-container;

    @media (max-width: $breakpoint-tablet-large) {
        gap: 6rem;
    }

    @media (max-width: $breakpoint-mobile) {
        gap: 4rem;
    }

    &__title-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 1% 2%;
        border-bottom: 3px solid var(--accent);

        .icon {
            color: var(--accent);
            width: 40px;

            @media (max-width: $breakpoint-tablet) {
                width: 32px;
            }

            @media (max-width: $breakpoint-mobile) {
                width: 24px;
            }
        }
    }

    &__title {
        @media (max-width: $breakpoint-tablet-large) {
            font-size: 2.5rem;
        }

        @media (max-width: $breakpoint-mobile) {
            font-size: 1.8rem;
        }
    }
}
