@use "../base/variables" as *;

.site-footer {
    background-color: var(--bg-navbar);
    margin-top: 24vh;
    text-align: center;

    @media (max-width: $breakpoint-mobile) {
        margin-top: 16vh;

        h2 {
            font-size: 2rem;
        }
    }

    &__container {
        min-height: 48vh;
        max-width: $max-width;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: 8vw;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $breakpoint-desktop) {
            gap: 4vw;
        }
        @media (max-width: $breakpoint-tablet) {
            flex-direction: column;
            gap: 8vh;
            padding: $content-padding;
        }
    }

    &__social-container {
        @include flex-center-column;
        gap: 2vh;
        width: 33%;
        order: 3;
        flex-grow: 2;

        @media (max-width: $breakpoint-tablet) {
            width: 100%;
            order: 2;
        }
    }

    &__social-links {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        color: var(--link);

        .social-icon {
            width: 40px;
            transition: $transition-all-03;
        }

        .social-icon:hover {
            color: var(--text-heading);
        }
    }

    &__identity {
        @include flex-center-column;
        width: 33%;
        gap: 1rem;
        order: 2;

        @media (max-width: $breakpoint-desktop) {
            width: 20%;
        }

        @media (max-width: $breakpoint-tablet) {
            width: 100%;
            order: 3;
        }
    }

    &__logo {
        background-image: url("../assets/img/logo.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 160px;
        height: 160px;

        @media (max-width: $breakpoint-desktop) {
            width: 100px;
            height: 100px;
        }

        @media (max-width: $breakpoint-mobile) {
            width: 80px;
            height: 80px;
        }
    }

    &__github-info {
        @include flex-center-column;
        gap: 0.5rem;
        width: 33%;
        order: 1;
        flex-grow: 2;

        @media (max-width: $breakpoint-tablet) {
            width: 100%;
        }

        .github-link {
            margin-top: 1rem;
            font-size: 1.3rem;

            .icon {
                height: 24px;
            }
        }
    }
}
