@use "../base/variables" as *;

body.light-theme {
    // Light Theme Variables
    --bg-body: #{$color-purple-2};
    --bg-navbar: #{$color-purple-1};
    --bg-footer: #{$color-purple-1};

    --text-heading: #{$color-purple-8};
    --text-body: #{$color-purple-6};
    --text-accent: #8330d1;

    --accent: #f3881d;
    --link: #009195;

    --shadow-color: #4d405933;


    // Theme Specific Styles
    .hero__image {
        background-image: url("../assets/img/hero-image-light.svg");
    }

    .hero {
        background-image: radial-gradient(circle at 44% 67%, rgba(255,255,255, 0.19) 0%, rgba(255,255,255, 0.19) 30%,transparent 30%, transparent 34%,transparent 34%, transparent 100%),radial-gradient(circle at 33% 92%, rgba(255,255,255, 0.19) 0%, rgba(255,255,255, 0.19) 16%,transparent 16%, transparent 53%,transparent 53%, transparent 100%),radial-gradient(circle at 0% 46%, rgba(255,255,255, 0.19) 0%, rgba(255,255,255, 0.19) 42%,transparent 42%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 47% 44%, rgba(255,255,255, 0.19) 0%, rgba(255,255,255, 0.19) 96%,transparent 96%, transparent 97%,transparent 97%, transparent 100%),radial-gradient(circle at 34% 28%, rgba(255,255,255, 0.19) 0%, rgba(255,255,255, 0.19) 26%,transparent 26%, transparent 85%,transparent 85%, transparent 100%),linear-gradient(171deg, rgb(187,173,201),rgb(255,255,255));
    }

    .site-header__logo {
        background-image: url("../assets/img/logo-light.svg");
    }

    .site-footer__logo {
        background-image: url("../assets/img/logo-light.svg");
    }
}
